.profile-card-container {
    display: flex;
    /* background: linear-gradient(to right, #f2711c, #ffc078); */
    background: linear-gradient(to right, #ffbb6d, #ff8b3d);
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    animation: fadeIn 0.5s ease;
}

.logo {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-details {
    flex: 1;
}

.profile-title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-family: "Marck Script", sans-serif;
}

.profile-email {
    margin: 5px 0 20px 0;
    font-size: 14px;
    color: #ffff;
    font-style: italic;
    font-weight: 600;
}

.bio {
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 28px;
    font-family: "KoHo", sans-serif;
    color: #424242;
    /* Darker text color */
}

.profile-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.profile-label {
    font-weight: bold;
    color: #555;
}

.profile-value {
    color: #333;
    font-size: 17px;
    font-weight: 600;
    font-family: system-ui;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}