.DietContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 1.5rem;
}

.First {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


@media (max-width: 768px) {
    .First {
        grid-template-columns: 1fr;
    }
}