/* MainPage.css */

.MainPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.SideBar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.Content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin-left: 241px;
}

.TopMenuBar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.WorkOutPage {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}